name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    environment:
      name: npm
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Install devenv.sh
        run: nix profile install nixpkgs#devenv

      - name: Cache Task checksums
        uses: actions/cache@v4
        with:
          path: .task
          key: ${{ runner.os }}-task-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-task-

      - name: Cache Bun dependencies
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: devenv shell task deps:install:frozen

      - name: Build
        run: devenv shell task build

      - name: Publish to NPM
        run: npx npm@latest publish --provenance --access public
        working-directory: ./out/build
